<div class="container">
    <mat-card>
        <mat-card-title>Heading</mat-card-title>
        <mat-card-subtitle>Sub Title</mat-card-subtitle>
        <mat-card-content>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolorem, ducimus cupiditate eaque assumenda corporis quibusdam consectetur iste, sunt, accusantium hic atque itaque tempora dolorum sapiente obcaecati! Veritatis, velit minima.</p>
        
        </mat-card-content>
    
        <mat-card-actions align="end">
            <button mat-button>Click</button>
        </mat-card-actions>
    </mat-card>
    
</div>