<mat-accordion multi hideToggle>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Heading</mat-panel-title>
        <mat-panel-description>Sub Heading</mat-panel-description>
        </mat-expansion-panel-header>
        
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, sed rerum? Explicabo, sequi placeat praesentium doloribus facere animi beatae alias vero itaque voluptas enim repellendus distinctio eveniet delectus corporis illum?</p>
    <mat-action-row>
        <button mat-button>Click</button>
    </mat-action-row>
    </mat-expansion-panel>


    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Ignit</mat-panel-title>
        <mat-panel-description>Angular Training</mat-panel-description>
        </mat-expansion-panel-header>
        
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, sed rerum? Explicabo, sequi placeat praesentium doloribus facere animi beatae alias vero itaque voluptas enim repellendus distinctio eveniet delectus corporis illum?</p>
    <mat-action-row>
        <button mat-button>submit</button>
    </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
