<mat-vertical-stepper>

    <mat-step label="Personal Detailes" completed="true">
        <p>This Step For Personal Detailes</p>
    </mat-step>
    <mat-step label="Company Detailes" completed="false" optional>
        <p>This Step For Company Detailes</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Submitting" completed="false">
        <p>This Step For sumbitting the  Detailes</p>
    </mat-step>

</mat-vertical-stepper>
