<!-- <h1>This Is Parent Component</h1>
<app-output (event)="abc($event)"></app-output>

<input type="text" [(ngModel)]="Data" >
<input type="text" [(ngModel)]="Data2" >
<button (click)="show()">Click</button>

 <app-input  [data]="print"  [abc]="hello"></app-input> -->
<!-- <app-detailes></app-detailes><br><br>
<app-fail></app-fail><br><br>
<app-pass></app-pass><br><br>
<app-msc></app-msc><br><br>
 <app-mca></app-mca> -->

 <!-- <app-nav></app-nav>

 <router-outlet></router-outlet> -->

<!-- <app-get></app-get> -->
<!-- <p [routerLink]="['/emp']">Employee Detailes</p> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-directive-examples></app-directive-examples> -->
<!-- <app-hostlistner></app-hostlistner> -->
<!-- <app-dropdown-component></app-dropdown-component> -->
<!-- <app-viewchild></app-viewchild> -->
<!-- <app-parent></app-parent> -->
<!-- <app-http-interceptor></app-http-interceptor> -->


<!-- <router-outlet></router-outlet> -->
<!-- <app-example></app-example> -->
<app-subject-post></app-subject-post>
<app-subject-get></app-subject-get>
<!-- <app-post></app-post> -->
<!-- <app-get2></app-get2> -->