<!-- <mat-list dense>
    <mat-list-item>Apple</mat-list-item>
    <mat-list-item>Mango</mat-list-item>
    <mat-list-item>Grape</mat-list-item>
</mat-list>

<mat-nav-list>
    <a mat-list-item >Home</a>
    <a mat-list-item >contact</a>
    <a mat-list-item >Feedback</a>
</mat-nav-list> -->
<!-- <mat-list>
    <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <span matLine>Students</span>
        <p matLine>10/10/2010</p>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <span matLine>Teachers</span>
        <p matLine>10/10/2010</p>
    </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<mat-selection-list>
    <mat-list-option>Addidas</mat-list-option>
    <mat-list-option>Puma</mat-list-option>
    <mat-list-option>Woodland</mat-list-option>
</mat-selection-list> -->