.sample{
    display: flex;

}
.side {
    display: flex;
    
    align-items: center;
}
.side p{
    margin: 0;
}
.align{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}